pkgbase = xiezuo-bin
	pkgdesc = WPS一站式企业沟通与协作平台. 整合即时沟通、文档协作、精选应用功能于一体，让办公更高效、更愉悦
	pkgver = 4.24.0
	pkgrel = 1
	url = https://xz.wps.cn/
	install = xiezuo-bin.install
	arch = x86_64
	arch = aarch64
	license = unknown
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = util-linux-libs
	depends = libsecret
	optdepends = libappindicator-gtk3
	provides = kingsoft-xiezuo
	provides = xiezuo
	conflicts = xiezuo
	options = !strip
	options = !emptydirs
	source_x86_64 = xiezuo-linux-x64-stable-4.24.0.deb::https://woa.wps.cn/download/deb-X64
	sha256sums_x86_64 = 019ebda25581f039379345a05ef044d95dab801a5df6fa3b18d7e656231b0cb4
	source_aarch64 = xiezuo-linux-arm64-stable-4.24.0.deb::https://woa.wps.cn/download/deb-Arm64
	sha256sums_aarch64 = 64814340807b0b887baccec4bb57b89070b084d85ba6a7c1d0421e9a271f3248

pkgname = xiezuo-bin
