pkgbase = xiezuo-bin
	pkgdesc = WPS一站式企业沟通与协作平台. 整合即时沟通、文档协作、精选应用功能于一体，让办公更高效、更愉悦
	pkgver = 4.20.0
	pkgrel = 1
	url = https://xz.wps.cn/
	install = xiezuo-bin.install
	arch = x86_64
	license = unknown
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = util-linux-libs
	depends = libsecret
	optdepends = libappindicator-gtk3
	provides = kingsoft-xiezuo
	provides = xiezuo
	conflicts = xiezuo
	options = !strip
	options = !emptydirs
	source = xiezuo-linux-x64-stable-4.20.0.deb::https://woa.wps.cn/download/deb-X64
	sha256sums = 63fc10fe983ee25caa67e971cf877ceff8246a39aeee2fc5f6c119df0b82895e

pkgname = xiezuo-bin
