pkgbase = xiezuo-bin
	pkgdesc = WPS一站式企业沟通与协作平台. 整合即时沟通、文档协作、精选应用功能于一体，让办公更高效、更愉悦
	pkgver = 5.13.1
	pkgrel = 1
	url = https://xz.wps.cn/
	install = xiezuo-bin.install
	arch = x86_64
	arch = aarch64
	license = unknown
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = util-linux-libs
	depends = libsecret
	optdepends = libappindicator-gtk3
	provides = kingsoft-xiezuo
	provides = xiezuo
	conflicts = xiezuo
	options = !strip
	options = !emptydirs
	source_x86_64 = xiezuo-linux-x64-stable-5.13.1.deb::https://woa.wps.cn/download/deb-X64
	sha256sums_x86_64 = 8d2b9d0ead4aa88c43bdb0279260165f98a6f872165151c6556d3e903a10f763
	source_aarch64 = xiezuo-linux-arm64-stable-5.13.1.deb::https://woa.wps.cn/download/deb-Arm64
	sha256sums_aarch64 = 543ed2eb4fcddc8c278fa6a2285da440b4de6ae19d5382af239f25d93c19312d

pkgname = xiezuo-bin
